
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Member.vue的值必須跟初始化顏色一樣 */
  --themeColor: #0097e0;
  --lightThemeColor: #ccecfc;
  --darkThemeColor: #0681be;
  --textSelectedColor: #ffffff;
  /* 不可設定之顏色 */
  --funColor: #3b82f6; /* 主要功能之顏色 Blue-500*/
  --deleteColor: #ef4444; /* 刪除之顏色 Red-500*/
  --tabColor: #0ea5e9; /* TAB輔助功能之顏色 Sky-500*/
  --positColor: #6366f1; /* 定位之顏色 Indigo-500*/
  --exportColor: #a855f7; /* 輸出之顏色 Purple-500*/
  --attriColor: #c026d3; /* 屬性按鈕之顏色 Fuch-600*/
  --addColor: #eb923c; /* 新增之顏色 Org-400 */
  --imgColor: #ca8a04; /* 圖例按鈕之顏色 Yellow-600 */
  --detailColor: #65a30d; /* 細項之顏色 Lime-600 */
  --saveColor: #14b8a6; /* 儲存之顏色 Teal-500 */

  --dataAColor: #ec4899; /* 資料A之顏色 pink-500 */
  --dataBColor: #16a34a; /* 資料B之顏色 green-600 */
  --dataCColor: #0891b2; /* 資料C之顏色 cyan-600 */
  --dataDColor: #0d9488; /* 資料D之顏色 teal-600 */

  --underColor: #ffffffd5; /* 圖臺系統元件背景色 */
}
@layer components {
  /* 系統圖臺 樣式 */
  /* 文字樣式 */
  .gis-under-text {
    @apply bg-slate-800 font-bold;
  }

  /* 圖臺寬按鈕size */
  .Gbtn-lg {
    @apply transition px-2 py-1 rounded-md bg-white shadow-md;
  }

  /* 圖臺小按鈕  */
  /* 小按鈕size  */
  .Gbtn-sm {
    @apply size-10 2xl:size-8 rounded-md bg-white shadow-md;
  }
  /* 小按鈕icon   */
  .Gbtn-sm-icon {
    @apply text-[1.3rem] 2xl:text-[1.1rem];
  }

  /* 視窗響應式 高度值 */
  .appDialog-h-response {
    @apply min-h-[15rem] max-h-[calc(var(--doc-height)-15rem)];
  }
  .appDialog-h-response-sm {
    @apply max-h-[calc(55vh-13rem)];
  }
  /*  min-h-[30rem] max-h-[calc(90vh-13rem)] */

  /* GIS主題色按鈕樣式  hvr為主色*/
  .themeC-hvr {
    @apply bg-[--themeColor] text-[--textSelectedColor];
  }
  .themeC-act {
    @apply bg-[--darkThemeColor] text-[--textSelectedColor];
  }

  /* 功能按鈕 */
  /* .btn-sm{
    @apply px-2 py-1 transition rounded  
  } */
  /* .btn-xsm{
    @apply size-8 transition rounded  
  } */
  .btn-smbox {
    @apply size-8 transition rounded;
  }
  .btn-smCircle {
    @apply h-8 w-8 rounded-full;
  }
  .btn-sm {
    @apply px-1 py-1 transition rounded;
  }
  .btn-md {
    @apply px-2 py-1 transition rounded;
  }
  .btn-lg {
    @apply px-4 py-2 transition rounded;
  }
  /*圖層套疊用*/
  .btn-xsm {
    @apply px-0.5 py-0.5 transition rounded;
  }

  /* 功能狀態按鈕顏色樣式  */
  /*需要修改import*/
  .btn-import {
    @apply bg-[--addColor] text-white hover:bg-orange-300 active:bg-orange-500;
  }
  .btn-default {
    @apply bg-slate-200  hover:bg-slate-100 active:bg-slate-300;
  }

  .btn-posit {
    @apply bg-[--positColor] text-white hover:bg-indigo-400 active:bg-indigo-600;
  }
  .btn-posit-outline {
    @apply border border-[--positColor] bg-white text-indigo-500 transition hover:border-indigo-600 hover:bg-indigo-50 hover:text-indigo-600;
  }
  .btn-delete {
    @apply bg-[--deleteColor] text-white hover:bg-red-400 active:bg-red-600;
  }
  .btn-fun {
    @apply bg-[--funColor] text-white hover:bg-blue-400 active:bg-blue-600;
  }
  .btn-fun-outline {
    @apply border border-[--funColor] bg-white text-blue-500 transition  hover:bg-blue-50 hover:text-blue-600;
  }
  .btn-fun-outline {
    @apply bg-white text-[--funColor] border border-[--funColor] hover:bg-[--funColor] hover:text-white active:bg-[--funColor] active:text-white;
  }
  .btn-export {
    @apply bg-[--exportColor] text-white hover:bg-purple-400 active:bg-purple-600;
  }
  .btn-save {
    @apply bg-[--saveColor] text-white hover:bg-teal-400 active:bg-teal-600;
  }
  .btn-detail {
    @apply bg-[--detailColor] text-white hover:bg-lime-500 active:bg-lime-700;
  }
  .btn-attri {
    @apply bg-[--attriColor] text-white hover:bg-fuchsia-500 active:bg-fuchsia-700;
  }
  .btn-img {
    @apply bg-[--imgColor] text-white hover:bg-yellow-500 active:bg-yellow-700;
  }
  .btn-tab {
    @apply bg-[--tabColor]  text-white hover:bg-sky-400 active:bg-sky-600;
  }
  .btn-dataA {
    @apply bg-[--dataAColor]  text-white hover:bg-pink-400 active:bg-pink-600;
  }
  .btn-dataB {
    @apply bg-[--dataBColor]  text-white hover:bg-green-500 active:bg-green-700;
  }
  .btn-dataC {
    @apply bg-[--dataCColor]  text-white hover:bg-cyan-500 active:bg-cyan-700;
  }
  .btn-dataD {
    @apply bg-[--dataDColor]  text-white hover:bg-teal-500 active:bg-teal-700;
  }

  .btn-dataB-outline {
    @apply border border-[--dataBColor] bg-white text-green-500 transition  hover:bg-green-50 hover:text-green-700;
  }
  .btn-export-outline {
    @apply border border-[--exportColor] bg-white text-purple-500 transition  hover:bg-purple-50 hover:text-purple-700;
  }
  .btn-dataC-outline {
    @apply border border-cyan-600/50 bg-cyan-50 text-cyan-600 transition  hover:bg-cyan-200 hover:text-cyan-700;
  }
  .btn-dataD-outline {
    @apply border border-teal-600/50 bg-teal-50 text-teal-600 transition  hover:bg-teal-200 hover:text-teal-700;
  }

  .btn-disable {
    @apply bg-slate-200 hover:bg-slate-200 accent-slate-200 text-slate-300 cursor-not-allowed;
  }
  .btn-cancel-outline {
    @apply text-gray-600 hover:border-gray-600  hover:text-gray-700;
  }
  .btn-delete-outline {
    @apply text-gray-600 hover:border-red-600 hover:bg-red-50 hover:text-red-600 active:bg-red-100;
  }
  .btn-delete-outbox {
    @apply border border-red-600 py-2 text-red-600 transition hover:bg-red-50 active:bg-red-100;
  }

  .btn-tab-default {
    @apply py-2 bg-white font-semibold outline outline-1 outline-[--tabColor] text-sky-700 transition hover:bg-[--tabColor]   hover:text-white hover:outline-[--tabColor] active:bg-[--tabColor];
  }
  .btn-tab-active {
    @apply bg-[--tabColor] outline-[--tabColor] text-white;
  }

  .btn-tabItem-dafault {
    @apply border border-[--tabColor] text-sky-700 transition;
  }
  .btn-tabItem-hover {
    @apply cursor-pointer	hover:bg-sky-50;
  }
  .btn-tabItem-active {
    @apply bg-[--tabColor] text-white;
  }
  /* .btn-tabItem-peer-active{
    @apply peer-disabled:bg-[--tabColor] peer-disabled:text-white
  } */

  /*其他*/
  .dataA-tabs {
    @apply border border-pink-600  text-[--dataAColor] bg-pink-50 rounded px-2 h-7 text-center;
  }
  .dataB-tabs {
    @apply border border-green-600  text-[--dataBColor] bg-green-50 rounded px-2 h-7 text-center;
  }

  .result-card {
    @apply bg-slate-100  rounded border-2 p-1;
  }

  /*圖臺設定用*/
  .gis-tab-active {
    @apply py-1 bg-white outline outline-1 transition hover:bg-[--tabColor]   hover:text-white hover:outline-[--tabColor] active:bg-[--tabColor];
  }
  .gis-tab-activeOn {
    @apply bg-[--tabColor] outline-[--tabColor] text-white;
  }
  /* 首頁其餘葉面設定 */
  .indexPage_background{
    @apply   bg-gradient-to-b from-white to-sky-200/30
  }
  .indexPage_content{
    @apply w-full min-h-[120vh] flex flex-col  items-center   pt-[9.5rem] pb-20 md:pt-[4rem]   xl:pt-[6rem] xl:pb-10
  }
  .indexPage_mainTitle{
    @apply   flex text-center justify-center items-center mb-10 md:my-5
  }
  .indexPage_panelWidth{
    @apply   mx-10 max-w-[1000px] sm:mx-5
  }
  .indexPage_secTitle{
    @apply font-bold  text-[1.5rem] md:text-[1.3rem] sm:text-[1.1rem]
  }

  /*說明底色*/
  .info_bg_blue{
    @apply text-blue-600 rounded bg-blue-100 border border-blue-500
  }
  .info_bg_gray{
    @apply text-gray-600 rounded bg-gray-50 border border-gray-300
  }
  
}

@layer utilities {
  .gis-under-bg {
    background: #ffffffd5;
  }
  .defcolor {
    color: #1f2937;
  }
  .text-good-balance {
    display: inline-block;
    max-width: 7ch;
    white-space: pre-wrap;
    word-break: break-all;
  }

  .mirrorRotateLevel {
    /* 圖片水平镜像翻转 */
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*兼容IE*/
    filter: FlipH;
  }
  .mirrorRotateVertical {
    /* 图片垂直镜像翻转 */
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    /* 兼容IE */
    filter: FlipV;
}

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  .text-stroke {
    -webkit-text-stroke: 1px black;
  }
  .text-stroke-none {
    -webkit-text-stroke-width: 0;
  }
  .text-stroke-blue {
    -webkit-text-stroke: 0.5px #156082;
  }
  .text-stroke-white {
    -webkit-text-stroke: 1px white;
  }
  .text-stroke-2 {
    -webkit-text-stroke: 2px black;
  }
  .bg-publicPaintColor{
    background-color: rgba(209,117,4,.5);
  }
  .bg-privatePaintColor{
    background-color: rgba(102,151,255,.5);
  }
  .bg-notBelongPaintColor{
    background-color: rgba(51,51,51,.8);
  }
}
